@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import 'https://fonts.googleapis.com/css?family=Merriweather|Amaranth';
//Add variables here:
$lightfont: #dfdfdf;
$darkerlightfont: #cecece;
$darkerfont: #818181;
$bodybg: #2f2f2f;
$navbarbg: #121212;
$palered: #7b6767;
$forgreen: #199E32;

@mixin headercolor($color: $darkerlightfont){
  color: $color;
}

@mixin fixedtopleft100($position: fixed, $top: 0, $left: 0, $width: 100%, $height: 100%){
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}
@mixin fixedtopright100($position: fixed, $top: 0, $right: 0, $width: 100%, $height: 100%){
  position: $position;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
}

@mixin serifHeader($family: sans-serif, $size: 1.5rem, $color: $lightfont){
  font: {
    family: $family;
    size: $size;
  }
  color: $color;
}

h1, h2, h3, h4, h5, h6{
  @include headercolor($color: darken($darkerlightfont, 5%));
}

ul li{
  list-style: none;
}

body{
  &.container-fluid{
    background-color: $bodybg;
  }
  color: $darkerlightfont;
  a{color: $darkerlightfont;}
  a{
    &:hover{
      color: $navbarbg;
    }
  }
  .clearfix{
    clear: both;
    margin:{
      left: 1rem;
    }
  }
  .sidenav{
    @include fixedtopleft100(fixed, 0, 0, 2.45rem, 100%);
    background-color: $navbarbg;
    z-index:1031;
    ul li{
      list-style: none;
      &:hover, &:active{
        color: #121212;
        cursor: pointer;
        background: $lightfont;
      }
    }
    .topsidenav{
      margin: {
        top: 2rem;
      }
    }
    .bottomsidenav{
      width: 100%;
      position: absolute;
      bottom: 2rem;
    }
    .topsidenav, .bottomsidenav{
      text-align: center;
      padding: 0;
      a{
        display: block;
        padding: 0.5rem;
      }
    }
  }
  .atooltip{
    display: inline;
    position: relative;
    &:hover:after{
      width: 150px;
      height: 100%;
      padding: 5px 15px;
      content: attr(whatis);
      position: absolute;
      top: 0%;
      left: 100%;
      background: $lightfont;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      bottom: 26px;
      color: $navbarbg;
      z-index: 99;
      font-family: cursive;
      font-variant: small-caps;
      font-weight: bolder;
    }
  }
  
  .topnav{
    left: 1rem;
    padding: 0 0 0.5rem;
    height: 3.15rem;
    .navbar-brand{
      margin-left: 1vw;
    }
    .topmostnav{
      height: 0.5vw; 
      background-color: $navbarbg;
      top: 0;
      margin-bottom: 0;
      min-height: 3rem;
    }
    .nav{
      &.navbar-nav{
        font-size: 0.85rem; 
        padding: 0.85rem;
        margin-top: 0.425rem;
        .nav-item{
          a{
            &:hover, &:active, &:focus{
              text-decoration: none; 
              background-color: transparent;
              color: $lightfont;
              border-bottom: 3px solid $forgreen;
            }
          }
        }
      }
    }
    #subroutes{
      background-color: lighten($navbarbg, 5%);
      .nav-item{
        font-size: 1.5rem;
        a{
          display: inline;
        }
      }  
    }
    .divider{
      border:{
        right: 0.5px solid #c2c2c2;
      }
      height: 2.5rem;
    }
    .navform{
      @include fixedtopright100(absolute, 1.12rem, 1rem, 20vw, auto);
      .mastersearch{
        width: 100%;
        padding: 0.1rem 0.75rem;
        background: transparent;
        color: inherit;
      }
    }
    
  }
  
  #particles-js{
    @include fixedtopleft100($width: 100%);
    z-index: -1;
    canvas{
      display: block;
      vertical-align: bottom;
    }
  }
}

#selecttimezone{
  background-color: #121212; 
  width: 100%; 
  margin: 0.5rem 2rem; 
  border: none
}

#datetime{
  font-size: 1.1rem;
}

$activecolor: #009688;
.sidenav .active{
  background: $lightfont;
  color: $activecolor;
  outline: 5px auto $activecolor !important;
  outline-offset: -2px;
}

#subroutes{
  > ul{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    a{
      &:hover{
        color: lighten($lightfont, 10%);
      }
    }
  }
}

#maintContainer{
  margin: 3rem auto auto 1rem;
  width: calc(100% - 0.2rem);
  height: 100%;
}

#mainContent{
  margin:{
    top: 60px;
  }
  width: inherit;
}

//Prod Page

#mainList {
  .form-group{
    column-width: 200px;
    column-gap: 0;
    } 
  .form-group .btn.btn-default.btn-xs.btn-block, .btn-group .btn.btn-default.btn-xs.btn-block{
    border-radius: 25px;
    line-height: 3rem;
  }
  .list-header {
    h1, h2, h3, h4, h5, h6{
      @include serifHeader('Merriweather', 1.5rem);
      padding-left: 1.5rem;
    }
  }
}

.container-fluid{
  > h3, > h4, > h5, > h6{
    @include serifHeader('Merriweather', 4rem, $forgreen)
  }
}

.serifHeader{
  @include serifHeader('Merriweather', 1.5rem)
}

.maintodoclass{
  background-color: #373a3c;
  text-align: center;
}

#prodtable{
  border: 1px solid;
  
  &.table{
    >tbody{
      >tr{
        >td{
            border-top: 1px solid #2f2f2f;
        }
      }
    }
  }
  &.table-striped{
    >tbody{
      >tr{
        &:nth-of-type(2){
            background-color: #7b6767;
        }
      }
    }
  }
  &.table-hover{
    >tbody{
      >tr{
        &:hover{
          background-color: #7b5959;
        }
      }
    }
  }
  .prodtablehead{
    background-color: #2c3e50;
  }
}

#collatedcalibration{
  p, li, ul li{
    color: #11175d;
    font-weight: 600;
  }
  b, h6{
    color: #0a1d1d;
    font-weight: 800;
  }
  .row{
    margin-left: 0;
    .anchorlinks{
      &.sidebaraffix{
        @include fixedtopright100(fixed, 0, 0, auto, 100vh);
        overflow-y: scroll;
        &::-webkit-scrollbar{display: none;}
      }
      a{
        font:{
          size: 1rem;
          family: Georgia;
        }
      }
    }
    .category{
      margin-bottom: 20px;
      .subcategory{
        margin-bottom: 10px;
        border: 2px solid #000;
        .subcategoryhead{
          h5{
            margin: 0;
            padding: 10px; 
            background-color: rgba(51, 56, 68, 0.85);
            color: $lightfont;
          }
        }
      }
      .violation{
        padding: 1rem;
        border: 2px solid #11264c;
        background-color: cornflowerblue;
        img{max-width: 100%;}
        .tableflex, .addsonflex{
          background-color: $lightfont;
          min-height: 200px;
          display: flex;
          padding: 1.2rem;
          h6{
            font-weight: 600; color: $lightfont;
          }
          .major, .minor{
            width: 50%; 
            overflow:hidden;
          }
          .minor{
            margin-right: 0.5rem;
            .heads{background-color: #ff7e52; box-shadow: 0px 3px 10px 0px;}
          }
          .major{
            margin-left: 0.5rem;
            .heads{background-color: #e04a16; box-shadow: 0px 3px 10px 0px;}
          }
          .heads{
            min-height: 20px; 
            background-color: #4969a2;
            text-align: center;
            padding: 1px;
            box-shadow: 0px 3px 10px 0px;
          }
          .subsubviolation{
            border: 1px solid #444;
            flex-basis: 60rem;
            background-color: darkcyan;
            &.minor{
              .flexbody.subsubviolationbody{background-color: #057d7d;}
            }
            &.major{
              .flexbody.subsubviolationbody{background-color: #076f6f;}
            }
            .flexbody{
              min-height: calc(100% - 20px); 
              height: calc(100% - 20px);
              &.subsubviolationbody{padding: 1rem;}
            }
            &.notes, #capitalization &.major{
              margin: 0 1rem;
            }
          }
        }
      }
      &#adult{
        .addsonflex{
          flex-wrap: wrap;
          flex-direction: row;
          .notes{
            margin: 0;  
          }
        }
      } 
    }
  }
}

@mixin modaloverlay($bottom: initial, $width: 100%, $maxheight: 100%, $height: 100%, $bgcolor: rgba(25, 22, 22, 0.5)){
  display: block;
  bottom: $bottom; 
  width: $width;
  max-height: $maxheight; 
  height: $height;
  background-color: $bgcolor;
}

@mixin modalcontent($margin: auto, $top: null, $bottom: 0, $left: 0, $right: 0, $position: relative, $width: 55%, $bgcolor: #eee){
  
  @if $position == relative {
    margin: $margin;
    width: $width;
    background-color: $bgcolor;  
  }
  @else {
    @if ($top == null) {
      position: $position;
      bottom: $bottom;
      left: $left;
      right: $right;
      margin: $margin;
      width: $width;
      background-color: $bgcolor;
    }
    @else{
      position: $position;
      top: $top;
      left: $left;
      right: $right;
      margin: $margin;
      width: $width;
      background-color: $bgcolor;
    }
  }
}
@mixin modalbody($bgcolor: #f0f0f0){
  background-color: $bgcolor;
}

.modal{
  .modal-content{
    @include modalcontent($bgcolor: #fcfcfc, $position: absolute, $bottom: 0.5rem);
    color: $darkerfont;
    h1, h2, h3, h4, h5, h6{
      color: $darkerfont;
      display: inline;
    }
    .modal-body{
      @include modalbody();
    }
  }
  @include modaloverlay();
}

@mixin avatarmixin($height: 60px, $radius: 50%){
  height: $height;
  border-radius: $radius;
}

.dbsidebarcontent {
  border: 2px solid $palered;
  background-color: lighten($bodybg, 3%);
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  .userlist{
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: scroll;
    &::-webkit-scrollbar{display: none;}
  }
  .userlistitem{
    background-color: $palered;
    padding: 0.5rem 1rem;
    border-top: 1px solid lighten($bodybg, 3%);
    &:hover{
      background-color: darken($palered, 5%);
    }
  }
  .avatar{
    @include avatarmixin($height: 40px);
  }
}
// for profile Settings page
#profile .profileinfotext{
  margin-top: 2rem;
}